@model AgentMVC.ViewModels.OverViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>OverViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveAgents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveAgents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetsAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetsAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionsAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionsAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveMissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveMissions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelativeAgentsToTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelativeAgentsToTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelativeAvailableAgentsToTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelativeAvailableAgentsToTargets)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
